<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!--AMUÑIZ ConnectionString-->
	<add name="SQLConnectionString" 
		 connectionString="Data source=AMUNIZ-DS;initial catalog=MagnaPullSystem;user id=sa;password=Nadabueno#1;Connection Timeout=18600" 
		 providerName="System.Data.SqlClient"/>

	<add name="MagnaPullSystemEntities" 
		 connectionString="metadata=res://*/DAL.PullSystemDbModel.csdl|res://*/DAL.PullSystemDbModel.ssdl|res://*/DAL.PullSystemDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMUNIZ-DS;initial catalog=MagnaPullSystem;user id=sa;password=Nadabueno#1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
